# data preprocessing of 2017-2021

In [1]:
import pandas as pd
house_17_21_new = pd.read_csv('../data/raw/2017_2021_data.csv')
from ast import literal_eval
house_17_21_new['sa2_region'] = house_17_21_new['sa2_region'].apply(literal_eval)
house_17_21_new

,year_num,property_type,coordinates,postcode,sa2_region,bedroom_num,bathroom_num,parking_num,Income,Population,median_price
0,2017,House,"[-38.150918, 144.3508573]",3220,"[Geelong, Newtown (Vic.)]",['3'],['2'],['1'],0,0,0
1,2017,Townhouse,"[-37.7963514, 144.8290887]",3020,"[Ardeer - Albion, Sunshine North, Sunshine Wes...",['3'],['2'],['1'],0,0,0
2,2017,Apartment / Unit / Flat,"[-37.7519759, 144.933882]",3055,"[Brunswick, Brunswick West]",['1'],['1'],['1'],0,0,0
3,2017,House,"[-37.8508965, 145.1082513]",3125,"[Surrey Hills (West) - Canterbury, Burwood]",['4'],['2'],['3'],0,0,0
4,2017,Apartment / Unit / Flat,"[-37.4888069, 144.5882653]",3437,[Gisborne],['2'],['1'],[],0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
15085,2021,Apartment / Unit / Flat,"[-37.8342948, 144.9899046]",3141,"[South Yarra - West, South Yarra - East]",['2'],['1'],['1'],0,0,0
15086,2021,House,"[-37.6705458, 144.93931]",3047,"[Broadmeadows, Campbellfield - Coolaroo]",['3'],['1'],['1'],0,0,0
15087,2021,House,"[-37.5668039, 144.9092513]",3064,"[Craigieburn - Central, Whittlesea, Roxburgh P...",['4'],['2'],['3'],0,0,0
15088,2021,House,"[-37.7612678, 145.1538379]",3106,[Templestowe],['4'],['2'],['2'],0,0,0
15089,2021,Apartment / Unit / Flat,"[-37.7693153, 145.0177758]",3078,[Alphington - Fairfield],['1'],['1'],['1'],0,0,0

# we fill in the median(estimate price) based on the region and the house kind(# of bedrooms), as for based on the project time, we use the September Quater as the median price from 2017-2021

首先 看一下median price的区域是如何划分的，然后看一下两个区域的重复率有多少，如果没有重复的需要用邮箱编号或者是其他的方法merge，如果这种方法可行的话，可以把价格报告分成很多个，分为每一个户型的不同区域房屋的平均价格,然后两个数据集分别创造一列[房型，多少个bedroom,年份]，然后通过这一列来merge

In [2]:
median_house_2017 = pd.read_csv('../data/raw/2017.csv')
median_house_2018 = pd.read_csv('../data/raw/2018.csv')
median_house_2019 = pd.read_csv('../data/raw/2019.csv')
median_house_2020 = pd.read_csv('../data/raw/2020.csv')
median_house_2021 = pd.read_csv('../data/raw/2021.csv')

In [3]:
all_sub = []
for value in median_house_2017['Suburb/town(2017)']:
    all_sub.append(value)

In [4]:
 sa2 = pd.read_csv('../data/raw/PostCode.csv')
 sa2.columns

Index(['Unnamed: 0', 'ID', 'Postcode', 'Locality', 'State', 'Longitude',
       'Latitude', 'Category', 'Type', 'SA3', 'SA3 Name', 'SA4', 'SA4 Name',
       'Region', 'Status', 'Lat (Google)', 'Long (Google)',
       'SA1 MAINCODE 2011', 'SA1 MAINCODE 2016', 'SA2 MAINCODE 2016',
       'SA2 NAME 2016', 'RA 2011', 'RA 2016', 'MMM 2015', 'MMM 2019', 'CED',
       'Altitude', 'Charge Zone', 'PHN Code', 'PHN Name', 'LGA Region',
       'Electorate', 'Electorate Rating'],
      dtype='object')

In [5]:
real_sa2=[]
for value in sa2['SA2 NAME 2016']:
    real_sa2.append(value)
real_sa2=set(real_sa2)

In [6]:
#we see that in this report there is some region in common which indicate that we can generate the historical housing data using the median price 
#of the house to replace the actual rent of the house
real_sa2=list(real_sa2)
print(set(real_sa2)&set(all_sub))

{'Cranbourne', 'Southbank', 'Echuca', 'Horsham', 'Elwood', 'Fitzroy', 'Footscray', 'Dandenong', 'Torquay', 'Southern Grampians', 'Toorak', 'Loddon', 'Docklands', 'Swan Hill', 'Wodonga', 'Brighton East', 'Whittlesea', 'Moira', 'Sunbury', nan, 'Frankston', 'Hawthorn', 'Kew', 'Sydenham', 'Brunswick', 'Bayswater', 'Clayton', 'West Wimmera', 'Bendigo', 'St Kilda', 'Melbourne', 'Towong', 'Carnegie', 'Thornbury', 'Wangaratta', 'Sunshine', 'Boronia', 'Springvale', 'Northcote', 'Maribyrnong', 'Morwell', 'Bairnsdale', 'Ararat', 'Altona', 'Williamstown', 'Malvern East', 'Balwyn', 'South Melbourne', 'Seymour', 'Melton', 'Traralgon', 'Yarriambiack', 'Elsternwick', 'Keilor', 'East Melbourne', 'Ballarat', 'Warragul', 'Castlemaine', 'Ringwood', 'Gannawarra', 'Lara', 'Armadale', 'Box Hill', 'Portland', 'Benalla', 'Blackburn', 'Port Melbourne', 'Buloke'}

In [43]:
# use the first SA2 area as the area which the house belows to 
#如果找到了每一个区域的话，可以把每一个区域的的code和经纬度坐标搞成一个字典，然后房子的经纬度坐标分别和每个区域的经纬度坐标算一个距离，并且把房子分配给最近的SA2区域中心
SA2_centroids = pd.read_csv('../data/raw/mb_2016_centroids.csv')
all_value = []
SA2_vic = SA2_centroids[SA2_centroids['STE_NAME16']=='Victoria']
SA2_vic = SA2_vic[['SA2_MAIN16','SA2_NAME16','xcoord','ycoord']]
SA2_vic.head()
SA2_vic_xcoord = SA2_vic.groupby('SA2_NAME16')["xcoord"].mean()
SA2_vic_ycoord = SA2_vic.groupby('SA2_NAME16')["ycoord"].mean()
#现在拿到了所有SA2的中心区域
SA2_vic_xy = pd.merge(SA2_vic_xcoord,SA2_vic_ycoord,left_on = 'SA2_NAME16',right_on = 'SA2_NAME16')
#groupy the SA2_NAME16 and take the average of xcoord and ycoord

sa2_region去除重复，加入一列[property_type,sa2_region,bedroom_num,year_num],用这个来merge，填入median price，然后把所有的有median price的数据，作为历史数据

如果数据量很小的话就多弄几次，从一开始的数据生成开始，最好merge的过程写成function