In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data_csv = pd.read_csv('../data/curated/2017_2022_house_data_final.csv')

In [25]:
data_csv.describe()

,Unnamed: 0,years,postcode,bed,bath,car,Income,Population,week_rent,real_school_distance,real_school_duration,real_station_distance,real_station_duration,Hospital num
count,28753.000000,28753.000000,28753.000000,28753.000000,28753.000000,28753.000000,28753.000000,28753.000000,2.875300e+04,28753.000000,28753.000000,28753.000000,28753.000000,28753.000000
mean,14376.000000,2020.091017,3212.911070,2.675025,1.439189,1.449657,71285.452298,15436.794871,3.265657e+03,24.797878,18.922478,58.647171,44.356846,1.026815
std,8300.420481,1.722918,230.859289,0.989747,0.596372,0.973804,23037.296947,7486.976884,5.296985e+04,192.451887,123.095830,228.508094,148.485934,1.553381
min,0.000000,2017.000000,3000.000000,0.000000,0.000000,0.000000,28622.800000,28.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7188.000000,2019.000000,3058.000000,2.000000,1.000000,1.000000,56825.057143,10183.000000,3.500000e+02,0.600000,1.400000,1.400000,2.900000,0.000000
50%,14376.000000,2020.000000,3146.000000,3.000000,1.000000,1.000000,65788.590476,14763.281592,4.200000e+02,1.000000,2.200000,3.200000,5.900000,0.000000
75%,21564.000000,2022.000000,3219.000000,3.000000,2.000000,2.000000,78333.809524,19913.000000,5.200000e+02,1.600000,3.500000,42.500000,36.100000,1.000000
max,28752.000000,2022.000000,3996.000000,9.000000,8.000000,9.000000,199242.990476,50425.000000,4.125000e+06,3252.700000,2034.700000,3760.300000,2292.000000,8.000000

In [26]:
data_csv.isnull().sum()

Unnamed: 0               0
name                     0
years                    0
property_type            0
coordinates              0
postcode                 0
sa2_coor                 0
closest_sa2              0
bed                      0
bath                     0
car                      0
Income                   0
Population               0
week_rent                0
real_school_distance     0
real_school_duration     0
real_station_distance    0
real_station_duration    0
Hospital num             0
dtype: int64

In [27]:
data_csv = data_csv[(data_csv.week_rent > 50) \
                   &(data_csv.week_rent < 100000)]
data_csv.describe()

,Unnamed: 0,years,postcode,bed,bath,car,Income,Population,week_rent,real_school_distance,real_school_duration,real_station_distance,real_station_duration,Hospital num
count,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000,28541.000000
mean,14361.405627,2020.088084,3212.453032,2.673312,1.437686,1.446901,71270.136619,15443.032533,514.892964,24.721401,18.859357,58.579195,44.299727,1.029677
std,8307.096655,1.724596,230.675323,0.985458,0.593424,0.968762,22987.106005,7475.556247,1525.863281,192.733036,123.237550,228.871117,148.722848,1.555219
min,0.000000,2017.000000,3000.000000,0.000000,0.000000,0.000000,28622.800000,28.000000,51.333333,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7153.000000,2019.000000,3058.000000,2.000000,1.000000,1.000000,56843.780952,10243.000000,350.000000,0.600000,1.400000,1.400000,2.900000,0.000000
50%,14367.000000,2020.000000,3146.000000,3.000000,1.000000,1.000000,65788.590476,14768.000000,420.000000,1.000000,2.200000,3.100000,5.900000,0.000000
75%,21558.000000,2022.000000,3219.000000,3.000000,2.000000,2.000000,78333.809524,19916.000000,520.000000,1.600000,3.500000,42.300000,36.100000,1.000000
max,28752.000000,2022.000000,3996.000000,9.000000,8.000000,9.000000,199242.990476,50425.000000,85000.000000,3252.700000,2034.700000,3760.300000,2292.000000,8.000000

In [28]:

data_csv

,Unnamed: 0,name,years,property_type,coordinates,postcode,sa2_coor,closest_sa2,bed,bath,car,Income,Population,week_rent,real_school_distance,real_school_duration,real_station_distance,real_station_duration,Hospital num
0,0,"506/1 BOUVERIE STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(0 -37.806097\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,410.0,0.9,2.3,1.3,2.7,4.0
1,1,"911/551 SWANSTON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(1 -37.805724\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,600.0,1.0,2.0,1.1,2.2,4.0
2,2,"UNIT 12/109 LYGON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(2 -37.80451\nName: latitude, dtype: float64...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,250.0,0.7,1.1,1.2,2.5,4.0
3,3,"911/199 WILLIAM STREET, MELBOURNE",2017,Category : Available Date,"(4 -37.814405\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,620.0,0.6,1.4,0.4,0.9,4.0
4,4,"500 FLINDERS STREET, MELBOURNE",2017,Category : Studio,"(5 -37.820019\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,450.0,0.8,1.7,1.6,3.3,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28748,28748,1 Whalers Court Portland VIC 3305,2022,House,"[-38.3363787, 141.6076534]",3305,[xcoord 141.601510\nycoord -38.349738\nN...,Portland,4.0,1.0,2.0,64310.523810,11076.989924,530.0,1.1,2.7,326.6,239.4,1.0
28749,28749,4947 Casterton-Edenhope Road Kadnook VIC 3318,2022,House,"[-37.1722438, 141.3698967]",3318,[xcoord 141.377214\nycoord -36.917668\nN...,West Wimmera,3.0,1.0,1.0,47528.447619,2651.489645,230.0,19.4,20.5,396.4,282.3,1.0
28750,28750,2270 Wingeel Road Barunah Park VIC 3329,2022,House,"[-37.9824907, 143.8572348]",3329,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,1.0,1.0,65512.533333,7920.505713,420.0,15.4,21.9,96.1,83.2,0.0
28751,28751,2531 STEIGLITZ ROAD Steiglitz VIC 3331,2022,Acreage / Semi-Rural,"[-37.8905681, 144.18730299999999]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,2.0,1.0,65512.533333,7920.505713,1180.0,9.0,17.2,66.0,57.5,0.0
28752,28752,1/25 Burnside Road Bannockburn VIC 3331,2022,House,"[-38.0523835, 144.181162]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Bannockburn,3.0,1.0,1.0,68183.990476,8353.617978,400.0,1.7,3.7,56.8,49.2,0.0

In [29]:
import numpy as np
from numpy import mean
from numpy import std
import matplotlib.pyplot as plt
history = data_csv
data_22 = history[history['years']==2022]
data_21 = history[history['years']==2021]
data_20 = history[history['years']==2020]
data_19 = history[history['years']==2019]
data_18 = history[history['years']==2018]
data_17 = history[history['years']==2017]
data_year = [data_21,data_20,data_19,data_18,data_17]

year = [2022,2021,2020,2019,2018,2017]
i=0


recorder = []
for data in data_year:
    for bed_num in list(data['bed'].unique()):
        if pd.isna(bed_num):
            continue        
        da = data[data['bed']==bed_num]
        data_mean, data_std = mean(da['week_rent']), std(da['week_rent'])
        # identify outliers
        cut_off = data_std * 3
        lower, upper = data_mean - cut_off, data_mean + cut_off
        outliers = da[(da['week_rent'] > upper) | (da['week_rent'] < lower)]
        recorder.append(outliers)
        print(f'year {year[i]} have {len(outliers)} outliers(total number: {len(da)}) in the apartment with {bed_num}')
    i+=1

year 2022 have 1 outliers(total number: 2234) in the apartment with 3.0
year 2022 have 8 outliers(total number: 1354) in the apartment with 2.0
year 2022 have 4 outliers(total number: 434) in the apartment with 1.0
year 2022 have 17 outliers(total number: 854) in the apartment with 4.0
year 2022 have 4 outliers(total number: 108) in the apartment with 5.0
year 2022 have 0 outliers(total number: 16) in the apartment with 6.0
year 2022 have 0 outliers(total number: 50) in the apartment with 0.0
year 2022 have 0 outliers(total number: 3) in the apartment with 7.0
year 2021 have 34 outliers(total number: 1799) in the apartment with 3.0
year 2021 have 1 outliers(total number: 380) in the apartment with 1.0
year 2021 have 16 outliers(total number: 1271) in the apartment with 2.0
year 2021 have 15 outliers(total number: 774) in the apartment with 4.0
year 2021 have 2 outliers(total number: 87) in the apartment with 5.0
year 2021 have 1 outliers(total number: 26) in the apartment with 0.0
year 2021 have 0 outliers(total number: 9) in the apartment with 6.0
year 2020 have 2 outliers(total number: 323) in the apartment with 1.0
year 2020 have 2 outliers(total number: 965) in the apartment with 2.0
year 2020 have 28 outliers(total number: 1754) in the apartment with 3.0
year 2020 have 16 outliers(total number: 680) in the apartment with 4.0
year 2020 have 1 outliers(total number: 99) in the apartment with 5.0
year 2020 have 0 outliers(total number: 9) in the apartment with 6.0
year 2020 have 0 outliers(total number: 31) in the apartment with 0.0
year 2020 have 0 outliers(total number: 4) in the apartment with 7.0
year 2019 have 1 outliers(total number: 303) in the apartment with 1.0
year 2019 have 9 outliers(total number: 1017) in the apartment with 2.0
year 2019 have 26 outliers(total number: 1567) in the apartment with 3.0
year 2019 have 11 outliers(total number: 541) in the apartment with 4.0
year 2019 have 0 outliers(total number: 9) in the apartment with 6.0
year 2019 have 0 outliers(total number: 23) in the apartment with 0.0
year 2019 have 1 outliers(total number: 77) in the apartment with 5.0
year 2018 have 9 outliers(total number: 257) in the apartment with 1.0
year 2018 have 19 outliers(total number: 871) in the apartment with 2.0
year 2018 have 2 outliers(total number: 1320) in the apartment with 3.0
year 2018 have 16 outliers(total number: 471) in the apartment with 4.0
year 2018 have 1 outliers(total number: 71) in the apartment with 5.0
year 2018 have 1 outliers(total number: 19) in the apartment with 0.0
year 2018 have 0 outliers(total number: 1) in the apartment with 9.0
year 2018 have 0 outliers(total number: 5) in the apartment with 6.0
year 2018 have 0 outliers(total number: 1) in the apartment with 7.0

In [30]:
z = 0
for j in range(0, len(data_csv)-z):
    for k in range(0, len(recorder)):
        for a in range(0, len(recorder[k])):
            if data_csv.iloc[j]['Unnamed: 0'] == recorder[k].iloc[a]['Unnamed: 0']:
                z = z+1
                data_csv = data_csv.drop(data_csv.iloc[j]['Unnamed: 0'], axis=0)

IndexError: single positional indexer is out-of-bounds

In [31]:
data_csv

,Unnamed: 0,name,years,property_type,coordinates,postcode,sa2_coor,closest_sa2,bed,bath,car,Income,Population,week_rent,real_school_distance,real_school_duration,real_station_distance,real_station_duration,Hospital num
0,0,"506/1 BOUVERIE STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(0 -37.806097\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,410.0,0.9,2.3,1.3,2.7,4.0
1,1,"911/551 SWANSTON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(1 -37.805724\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,600.0,1.0,2.0,1.1,2.2,4.0
2,2,"UNIT 12/109 LYGON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(2 -37.80451\nName: latitude, dtype: float64...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,250.0,0.7,1.1,1.2,2.5,4.0
3,3,"911/199 WILLIAM STREET, MELBOURNE",2017,Category : Available Date,"(4 -37.814405\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,620.0,0.6,1.4,0.4,0.9,4.0
4,4,"500 FLINDERS STREET, MELBOURNE",2017,Category : Studio,"(5 -37.820019\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,450.0,0.8,1.7,1.6,3.3,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28748,28748,1 Whalers Court Portland VIC 3305,2022,House,"[-38.3363787, 141.6076534]",3305,[xcoord 141.601510\nycoord -38.349738\nN...,Portland,4.0,1.0,2.0,64310.523810,11076.989924,530.0,1.1,2.7,326.6,239.4,1.0
28749,28749,4947 Casterton-Edenhope Road Kadnook VIC 3318,2022,House,"[-37.1722438, 141.3698967]",3318,[xcoord 141.377214\nycoord -36.917668\nN...,West Wimmera,3.0,1.0,1.0,47528.447619,2651.489645,230.0,19.4,20.5,396.4,282.3,1.0
28750,28750,2270 Wingeel Road Barunah Park VIC 3329,2022,House,"[-37.9824907, 143.8572348]",3329,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,1.0,1.0,65512.533333,7920.505713,420.0,15.4,21.9,96.1,83.2,0.0
28751,28751,2531 STEIGLITZ ROAD Steiglitz VIC 3331,2022,Acreage / Semi-Rural,"[-37.8905681, 144.18730299999999]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,2.0,1.0,65512.533333,7920.505713,1180.0,9.0,17.2,66.0,57.5,0.0
28752,28752,1/25 Burnside Road Bannockburn VIC 3331,2022,House,"[-38.0523835, 144.181162]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Bannockburn,3.0,1.0,1.0,68183.990476,8353.617978,400.0,1.7,3.7,56.8,49.2,0.0

In [32]:
data_csv = data_csv.reset_index().drop('Unnamed: 0', axis=1)
data_csv

,index,name,years,property_type,coordinates,postcode,sa2_coor,closest_sa2,bed,bath,car,Income,Population,week_rent,real_school_distance,real_school_duration,real_station_distance,real_station_duration,Hospital num
0,0,"506/1 BOUVERIE STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(0 -37.806097\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,410.0,0.9,2.3,1.3,2.7,4.0
1,1,"911/551 SWANSTON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(1 -37.805724\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,600.0,1.0,2.0,1.1,2.2,4.0
2,2,"UNIT 12/109 LYGON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(2 -37.80451\nName: latitude, dtype: float64...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,250.0,0.7,1.1,1.2,2.5,4.0
3,3,"911/199 WILLIAM STREET, MELBOURNE",2017,Category : Available Date,"(4 -37.814405\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,620.0,0.6,1.4,0.4,0.9,4.0
4,4,"500 FLINDERS STREET, MELBOURNE",2017,Category : Studio,"(5 -37.820019\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,450.0,0.8,1.7,1.6,3.3,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28309,28748,1 Whalers Court Portland VIC 3305,2022,House,"[-38.3363787, 141.6076534]",3305,[xcoord 141.601510\nycoord -38.349738\nN...,Portland,4.0,1.0,2.0,64310.523810,11076.989924,530.0,1.1,2.7,326.6,239.4,1.0
28310,28749,4947 Casterton-Edenhope Road Kadnook VIC 3318,2022,House,"[-37.1722438, 141.3698967]",3318,[xcoord 141.377214\nycoord -36.917668\nN...,West Wimmera,3.0,1.0,1.0,47528.447619,2651.489645,230.0,19.4,20.5,396.4,282.3,1.0
28311,28750,2270 Wingeel Road Barunah Park VIC 3329,2022,House,"[-37.9824907, 143.8572348]",3329,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,1.0,1.0,65512.533333,7920.505713,420.0,15.4,21.9,96.1,83.2,0.0
28312,28751,2531 STEIGLITZ ROAD Steiglitz VIC 3331,2022,Acreage / Semi-Rural,"[-37.8905681, 144.18730299999999]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,2.0,1.0,65512.533333,7920.505713,1180.0,9.0,17.2,66.0,57.5,0.0
28313,28752,1/25 Burnside Road Bannockburn VIC 3331,2022,House,"[-38.0523835, 144.181162]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Bannockburn,3.0,1.0,1.0,68183.990476,8353.617978,400.0,1.7,3.7,56.8,49.2,0.0

In [ ]:
data_csv = data_csv.reset_index().drop('index', axis=1)
data_csv

,level_0,name,years,property_type,coordinates,postcode,sa2_coor,closest_sa2,bed,bath,car,Income,Population,week_rent,real_school_distance,real_school_duration,real_station_distance,real_station_duration,Hospital num
0,0,"506/1 BOUVERIE STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(0 -37.806097\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,410.0,0.9,2.3,1.3,2.7,4.0
1,1,"911/551 SWANSTON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(1 -37.805724\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,600.0,1.0,2.0,1.1,2.2,4.0
2,2,"UNIT 12/109 LYGON STREET, CARLTON SOUTH",2017,Category : Unit/apmt,"(2 -37.80451\nName: latitude, dtype: float64...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,250.0,0.7,1.1,1.2,2.5,4.0
3,3,"911/199 WILLIAM STREET, MELBOURNE",2017,Category : Available Date,"(4 -37.814405\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,2.0,0.0,87360.000000,44599.000000,620.0,0.6,1.4,0.4,0.9,4.0
4,4,"500 FLINDERS STREET, MELBOURNE",2017,Category : Studio,"(5 -37.820019\nName: latitude, dtype: float6...",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,0.0,87360.000000,44599.000000,450.0,0.8,1.7,1.6,3.3,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28309,28309,1 Whalers Court Portland VIC 3305,2022,House,"[-38.3363787, 141.6076534]",3305,[xcoord 141.601510\nycoord -38.349738\nN...,Portland,4.0,1.0,2.0,64310.523810,11076.989924,530.0,1.1,2.7,326.6,239.4,1.0
28310,28310,4947 Casterton-Edenhope Road Kadnook VIC 3318,2022,House,"[-37.1722438, 141.3698967]",3318,[xcoord 141.377214\nycoord -36.917668\nN...,West Wimmera,3.0,1.0,1.0,47528.447619,2651.489645,230.0,19.4,20.5,396.4,282.3,1.0
28311,28311,2270 Wingeel Road Barunah Park VIC 3329,2022,House,"[-37.9824907, 143.8572348]",3329,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,1.0,1.0,65512.533333,7920.505713,420.0,15.4,21.9,96.1,83.2,0.0
28312,28312,2531 STEIGLITZ ROAD Steiglitz VIC 3331,2022,Acreage / Semi-Rural,"[-37.8905681, 144.18730299999999]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Golden Plains - South,3.0,2.0,1.0,65512.533333,7920.505713,1180.0,9.0,17.2,66.0,57.5,0.0
28313,28313,1/25 Burnside Road Bannockburn VIC 3331,2022,House,"[-38.0523835, 144.181162]",3331,[xcoord 143.999057\nycoord -37.952336\nN...,Bannockburn,3.0,1.0,1.0,68183.990476,8353.617978,400.0,1.7,3.7,56.8,49.2,0.0

In [33]:
data_csv.to_csv('../data/curated/clean_data.csv')