# 2023-2025 housing data

In [1]:
import pandas as pd
import re
property_data_2023 = pd.read_csv('../data/raw/2023_house_data.csv')
property_data_2024 = pd.read_csv('../data/raw/2024_house_data.csv')
property_data_2025 = pd.read_csv('../data/raw/2025_house_data.csv')
property_data_2023 = property_data_2023[property_data_2023['week_rent']!='No Available']
property_data_2024 = property_data_2024[property_data_2024['week_rent']!='No Available']
property_data_2025 = property_data_2025[property_data_2025['week_rent']!='No Available']
property_data_2023['week_rent'] = property_data_2023['week_rent'].astype('float')
property_data_2024['week_rent'] = property_data_2024['week_rent'].astype('float')
property_data_2025['week_rent'] = property_data_2025['week_rent'].astype('float')

In [2]:
property_data_2023.rename({"2023 Population":'Population'},axis=1, inplace=True)
property_data_2024.rename({"2024 Population":'Population'},axis=1, inplace=True)
property_data_2025.rename({"2025 Population":'Population'},axis=1, inplace=True)
property_data_2023.rename({"2023Pred":'Income'},axis=1, inplace=True)
property_data_2024.rename({"2024Pred":'Income'},axis=1, inplace=True)
property_data_2025.rename({"2025Pred":'Income'},axis=1, inplace=True)
property_data_2023['years'] = '2023'
property_data_2024['years'] = '2024'
property_data_2025['years'] = '2025'

In [3]:
property_data_2023_2025 = pd.concat([property_data_2023,property_data_2024,property_data_2025],axis=0)

In [4]:
property_data_2023_2025.head()

,Unnamed: 0,name,property_type,property_feature,coordinates,desc,postcode,week_rent,sa2_coor,closest_sa2,Population,Income,bedroom_num,bathroom_num,parking_num,years
0,0,Unit 1201/162 Albert St East Melbourne VIC 3002,Apartment / Unit / Flat,"['Available Now', '$2253']","[-37.8100432, 144.9855313]",Anthony Verrocchi,3002,520.0,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,5864.590098,148341.333333,['2'],['1'],['1'],2023
1,1,12 Vale Street East Melbourne VIC 3002,House,"['Friday, 9th September 2022', '$7200']","[-37.8190688, 144.9893458]",Jess Eude,3002,200.0,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,5864.590098,148341.333333,['4'],['2'],[],2023
2,2,1306V/296 Victoria Parade East Melbourne VIC 3002,Apartment / Unit / Flat,"['Available Now', '$3259']","[-37.8091912, 144.9815952]",Elina Fry,3002,750.0,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,5864.590098,148341.333333,['1'],['1'],[],2023
3,3,13/86 Hotham Street East Melbourne VIC 3002,Apartment / Unit / Flat,"['Available Now', '$1955', '53m²']","[-37.8141406, 144.9874786]",Mikaele Horsnell,3002,450.0,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,5864.590098,148341.333333,['1'],['1'],['1'],2023
4,4,38/400 Victoria Parade East Melbourne VIC 3002,Apartment / Unit / Flat,"['Available Now', '$3080']","[-37.8095627, 144.9848541]",Ashleigh Sumpter,3002,770.0,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,5864.590098,148341.333333,['3'],['2'],['2'],2023

In [5]:
#change ['1'] to [1]
def extract_bed(row):
    if row['bedroom_num'] == []:
        return None
    return re.findall(r'(\d+)', row['bedroom_num'])
def extract_bath(row):
    if row['bathroom_num'] == []:
        return None
    return re.findall(r'(\d+)', row['bathroom_num'])
def extract_car(row):
    if row['parking_num'] == []:
        return None
    return re.findall(r'(\d+)', row['parking_num'])
property_data_2023_2025['bedroom_num'] = property_data_2023_2025.apply(lambda row:extract_bed(row),axis=1)
property_data_2023_2025['bathroom_num'] = property_data_2023_2025.apply(lambda row:extract_bath(row),axis=1)
property_data_2023_2025['parking_num'] = property_data_2023_2025.apply(lambda row:extract_car(row),axis=1)
#change [1] to 1
def extract_bed(row):
    if row['bedroom_num'] == []:
        return None
    return row['bedroom_num'][0]
def extract_bath(row):
    if row['bathroom_num'] == []:
        return None
    return row['bathroom_num'][0]
def extract_car(row):
    if row['parking_num'] == []:
        return None
    return row['parking_num'][0]
property_data_2023_2025['bedroom_num'] = property_data_2023_2025.apply(lambda row:extract_bed(row),axis=1)
property_data_2023_2025['bathroom_num'] = property_data_2023_2025.apply(lambda row:extract_bath(row),axis=1)
property_data_2023_2025['parking_num'] = property_data_2023_2025.apply(lambda row:extract_car(row),axis=1)
property_data_2023_2025.rename({"bedroom_num":'bed'},axis=1, inplace=True)
property_data_2023_2025.rename({"bathroom_num":'bath'},axis=1, inplace=True)
property_data_2023_2025.rename({"parking_num":'car'},axis=1, inplace=True)

In [6]:
property_data_2023_2025 = property_data_2023_2025[['name','property_type','years','coordinates','postcode','sa2_coor','closest_sa2','bed','bath','car','Income','Population','week_rent']]
property_data_2023_2025.tail()

,name,property_type,years,coordinates,postcode,sa2_coor,closest_sa2,bed,bath,car,Income,Population,week_rent
10277,16B Sandy Mount Avenue Inverloch VIC 3996,House,2025,"[-38.6340011, 145.725239]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,2,1,1,50913.047619,27515.290447,400.0
10278,28 Beachcomber Drive Inverloch VIC 3996,House,2025,"[-38.6412502, 145.7031282]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,4,2,None,50913.047619,27515.290447,550.0
10279,14 Inverloch Parade Inverloch VIC 3996,House,2025,"[-38.6287143, 145.7358082]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,2,1,None,50913.047619,27515.290447,420.0
10280,10 Hopetoun Street Inverloch VIC 3996,House,2025,"[-38.6341243, 145.7306862]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,2,1,1,50913.047619,27515.290447,370.0
10281,Inverloch VIC 3996,House,2025,"[-38.6314613, 145.7293638]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,3,2,1,50913.047619,27515.290447,475.0