### Income Prediction

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/raw/SA2.csv")
SA2 = pd.read_csv("../data/curated/SA2_Code&Name.csv")
income = pd.read_csv("../data/raw/total income.csv")
#income.replace([np.inf, -np.inf], np.nan, inplace=True)
#income.dropna(inplace=True)
#income.drop(labels=[2308,2309,2303], axis=0)

In [3]:
median_income = income.iloc[: , -6:]
sa2_income = income.iloc[:,0:1]
income = sa2_income.join(median_income)
income = income.replace(' na ', np.nan)
income = income.dropna(axis=0,how='any')

In [4]:
income = pd.merge(SA2, income ,how = 'inner', left_on='SA2 code',right_on ='SA2')
income = income.drop(['Unnamed: 0','SA2'], axis=1)
income = income.rename(columns={'2010-11.4':'2010',
                                '2011-12.4':'2011',
                                '2012-13.4':'2012',
                                '2013-14.4':'2013',
                                '2014-15.4':'2014',
                                '2015-16.4':'2015'})

In [5]:

income

,SA2 code,SA2 name,2010,2011,2012,2013,2014,2015
0,201011001,Alfredton,"49,967","51,670","52,993","54,625","56,374","57,747"
1,201011002,Ballarat,"57,063","61,177","63,669","65,507","67,217","72,754"
2,201011005,Buninyong,"51,017","53,538","55,675","56,765","58,011","58,292"
3,201011006,Delacombe,"40,802","43,298","45,581","46,312","48,356","49,260"
4,201011007,Smythes Creek,"44,262","45,270","47,339","49,268","50,299","52,010"
...,...,...,...,...,...,...,...,...
397,217031476,Otway,"37,228","39,331","36,936","39,769","40,640","42,426"
398,217041477,Moyne - East,"45,363","43,776","37,883","46,722","48,627","47,031"
399,217041478,Moyne - West,"43,642","43,420","42,511","46,053","48,280","50,307"
400,217041479,Warrnambool - North,"44,366","45,989","46,934","48,440","50,513","50,939"
401,217041480,Warrnambool - South,"45,905","47,794","48,726","50,544","50,663","50,965"

In [6]:
income.iloc[:,2:]

         2010      2011      2012      2013      2014      2015
0     49,967    51,670    52,993    54,625    56,374    57,747
1     57,063    61,177    63,669    65,507    67,217    72,754
2     51,017    53,538    55,675    56,765    58,011    58,292
3     40,802    43,298    45,581    46,312    48,356    49,260
4     44,262    45,270    47,339    49,268    50,299    52,010
..        ...       ...       ...       ...       ...       ...
397   37,228    39,331    36,936    39,769    40,640    42,426
398   45,363    43,776    37,883    46,722    48,627    47,031
399   43,642    43,420    42,511    46,053    48,280    50,307
400   44,366    45,989    46,934    48,440    50,513    50,939
401   45,905    47,794    48,726    50,544    50,663    50,965

[402 rows x 6 columns]

In [7]:
import re
income['2010'] = income['2010'].str.replace(',', '').astype(float)
income['2011'] = income['2011'].str.replace(',', '').astype(float)
income['2012'] = income['2012'].str.replace(',', '').astype(float)
income['2013'] = income['2013'].str.replace(',', '').astype(float)
income['2014'] = income['2014'].str.replace(',', '').astype(float)
income['2015'] = income['2015'].str.replace(',', '').astype(float)
income.to_csv('income')

In [10]:

income.iloc[i][2:8]

2010    49967.0
2011    51670.0
2012    52993.0
2013    54625.0
2014    56374.0
2015    57747.0
Name: 0, dtype: object

In [26]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import re
import json
import math
from numpy import nan

index_year = np.array([2010,2011,2012,2013,2014,2015]).reshape(-1,1)
income_2017 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2017]])
    income_2017.append(y_pred)
    
income['2017Pred'] = np.array(income_2017).flatten()

income_2018 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2018]])
    income_2018.append(y_pred)
    
income['2018Pred'] = np.array(income_2018).flatten()


income_2019 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2019]])
    income_2019.append(y_pred)
    
income['2019Pred'] = np.array(income_2019).flatten()


income_2020 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2020]])
    income_2020.append(y_pred)
    
income['2020Pred'] = np.array(income_2020).flatten()

income_2021 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2021]])
    income_2021.append(y_pred)
    
income['2021Pred'] = np.array(income_2021).flatten()


income_2022 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2022]])
    income_2022.append(y_pred)
    
income['2022Pred'] = np.array(income_2022).flatten()



income_2023 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2023]])
    income_2023.append(y_pred)
    
income['2023Pred'] = np.array(income_2023).flatten()



income_2024 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2024]])
    income_2024.append(y_pred)
    
income['2024Pred'] = np.array(income_2024).flatten()

income_2025 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2025]])
    income_2025.append(y_pred)
    
income['2025Pred'] = np.array(income_2025).flatten()


income_2026 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2026]])
    income_2026.append(y_pred)
    
income['2026Pred'] = np.array(income_2026).flatten()



income_2027 = []
for i in range(0, len(income)):
    y = np.array(income.iloc[i][2:8].tolist()).reshape(-1,1)
    model = LinearRegression().fit(index_year,y)
    y_pred = model.predict([[2027]])
    income_2027.append(y_pred)
    
income['2027Pred'] = np.array(income_2027).flatten()


income.to_csv("../data/curated/Income_Prediction.csv")