### livability

In [33]:
## Features sorted by their score:
##[(0.2171, 'Population'), 
#(0.1963, 'bath'), 
#(0.1218, 'real_school_duration'), 
#(0.083, 'real_school_distance'), (0.0798, 'postcode'), 
#(0.062, 'real_station_distance'), (0.0596, 'car'), 
#(0.0593, 'real_station_duration'), (0.053, 'Income'), (0.0295, 'years'), (0.02, 'bed'), (0.0186, 'Hospital num')]
property_data_2023_2025 = pd.read_csv('../data/raw/2023_2025_house_data_final.csv')

In [34]:
data_2023 = property_data_2023_2025[property_data_2023_2025['year'] == 2023]
data_2023_index = data_2023[['real_school_distance','real_station_distance','Population','postcode','Income']]
len(data_2023_index)
data_2023_index

,real_school_distance,real_station_distance,Population,postcode,Income
0,0.7,0.5,47744.200000,3000,129324.000000
1,0.9,1.5,47744.200000,3000,129324.000000
2,2.0,1.6,47744.200000,3000,129324.000000
3,0.8,1.4,47744.200000,3000,129324.000000
4,0.7,0.5,47744.200000,3000,129324.000000
...,...,...,...,...,...
10653,3.5,118.3,26604.859564,3996,49626.133333
10654,1.0,118.8,26604.859564,3996,49626.133333
10655,0.5,118.4,26604.859564,3996,49626.133333
10656,0.1,118.0,26604.859564,3996,49626.133333
10657,1.2,117.2,26604.859564,3996,49626.133333

In [35]:
import numpy as np
import re
import json
import math
from numpy import nan

index = np.array([0.083,0.062,0.2171,0.0798,0.053]).reshape(-1,1)
livability_rate = []
for i in range(0, len(data_2023_index)):
    y = np.array(data_2023_index.iloc[i].tolist()).reshape(-1,1)
    rate = sum(index*y)
    livability_rate.append(rate)
    
lst = []
for i in range(0, len(data_2023_index)):
    lst.append(livability_rate[i][0]) 

lst
data_2023['livability_rate'] = lst
data_2023

/var/folders/bt/_4flgftn2md9y_nd9bwjh18r0000gn/T/ipykernel_84410/3399693636.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2023['livability_rate'] = lst

,Unnamed: 0,name,property_type,year,coordinates,postcode,sa2_coor,closest_sa2,bed,bath,car,Income,Population,real_school_distance,real_school_duration,real_station_distance,real_station_duration,week_rent,Hospital num,livability_rate
0,0,101/25-33 Wills Street Melbourne VIC 3000,Apartment / Unit / Flat,2023,"[-37.8107757, 144.9569269]",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,NaN,129324.000000,47744.200000,0.7,1.7,0.5,1.2,400.0,4.0,17458.926920
1,1,2905B/11 Rose Lane Melbourne VIC 3000,Apartment / Unit / Flat,2023,"[-37.815446, 144.9541165]",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,2.0,1.0,1.0,129324.000000,47744.200000,0.9,2.3,1.5,3.0,575.0,4.0,17459.005520
2,2,1901/368 St Kilda Road Melbourne VIC 3000,Apartment / Unit / Flat,2023,"[-37.8318086, 144.9710272]",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,3.0,2.0,2.0,129324.000000,47744.200000,2.0,3.6,1.6,2.4,1800.0,4.0,17459.103020
3,3,1211/200 Spencer Street Melbourne VIC 3000,Apartment / Unit / Flat,2023,"[-37.816228, 144.9532465]",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,1.0,129324.000000,47744.200000,0.8,1.8,1.4,2.4,480.0,4.0,17458.991020
4,4,1008/380 Little Lonsdale Street Melbourne VIC ...,Apartment / Unit / Flat,2023,"[-37.8121026, 144.9581291]",3000,[xcoord 144.962765\nycoord -37.813377\nN...,Melbourne,1.0,1.0,NaN,129324.000000,47744.200000,0.7,1.8,0.5,1.3,400.0,4.0,17458.926920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10653,10653,28 Beachcomber Drive Inverloch VIC 3996,House,2023,"[-38.6412502, 145.7031282]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,4.0,2.0,NaN,49626.133333,26604.859564,3.5,5.0,118.3,96.5,550.0,0.0,8732.605978
10654,10654,14 Inverloch Parade Inverloch VIC 3996,House,2023,"[-38.6287143, 145.7358082]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,2.0,1.0,NaN,49626.133333,26604.859564,1.0,2.2,118.8,97.0,420.0,0.0,8732.429478
10655,10655,10 Hopetoun Street Inverloch VIC 3996,House,2023,"[-38.6341243, 145.7306862]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,2.0,1.0,1.0,49626.133333,26604.859564,0.5,1.3,118.4,97.0,370.0,0.0,8732.363178
10656,10656,Inverloch VIC 3996,House,2023,"[-38.6314613, 145.7293638]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,3.0,2.0,1.0,49626.133333,26604.859564,0.1,0.2,118.0,95.8,475.0,0.0,8732.305178
10657,10657,64 Dixon Street Inverloch VIC 3996,House,2023,"[-38.6313719, 145.717275]",3996,[xcoord 146.102345\nycoord -38.694093\nN...,Wonthaggi - Inverloch,1.0,1.0,NaN,49626.133333,26604.859564,1.2,2.1,117.2,95.5,No Available,0.0,8732.346878

In [36]:
sa2_rate =data_2023['livability_rate'].groupby(data_2023['closest_sa2']).mean()
sa2_rate = sa2_rate.to_frame()
sa2_rate.sort_values('livability_rate',ascending=False)

                     livability_rate
closest_sa2
Melbourne               17458.952871
Toorak                  14122.479690
Brighton (Vic.)         13949.010587
Malvern - Glen Iris     12477.609666
Caulfield - North       11908.053448
...                              ...
West Wimmera             3415.182740
St Arnaud                3227.850351
Upper Yarra Valley       3110.318961
Yarriambiack             3023.963820
Buloke                   2958.867303

[338 rows x 1 columns]