# Model part

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
#model = LinearRegression()

In [ ]:
train_data = pd.read_csv('../data/raw/2017_2022_house_data.csv')
test_data = pd.read_csv('../data/raw/2023_2025_house_data.csv')

In [2]:
#train_data[train_data['bed'] != 'NaN']
#train_data[train_data['bath'] != 'NaN']
#train_data[train_data['car'] != 'NaN']
train_data = train_data.dropna()
test_data = test_data.dropna()
test_data['week_rent'] = '' #This is the stuff we aiming for

In [3]:
train_data_x = train_data[['bed','bath','car','Income','Population']]
train_data_y = train_data['week_rent']
test_data_x = test_data[['bed','bath','car','Income','Population']]
model = LinearRegression().fit(train_data_x, train_data_y)
#r_sq = model.score(train_data_x, train_data_y)
y_pred = model.predict(test_data_x)

In [6]:
test_data['week_rent'] = y_pred
test_data=test_data[test_data['week_rent'] > 0]

In [7]:
test_data.head()

,Unnamed: 0,name,property_type,years,coordinates,postcode,sa2_coor,closest_sa2,bed,bath,car,Income,Population,week_rent
0,0,Unit 1201/162 Albert St East Melbourne VIC 3002,Apartment / Unit / Flat,2023,"[-37.8100432, 144.9855313]",3002,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,2.0,1.0,1.0,148341.333333,5864.590098,431.706539
4,4,38/400 Victoria Parade East Melbourne VIC 3002,Apartment / Unit / Flat,2023,"[-37.8095627, 144.9848541]",3002,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,3.0,2.0,2.0,148341.333333,5864.590098,3676.204499
5,5,7/126 Wellington Parade East Melbourne VIC 3002,Apartment / Unit / Flat,2023,"[-37.8162107, 144.9859245]",3002,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,3.0,2.0,1.0,148341.333333,5864.590098,1760.014922
7,7,P08P/191 Powlett Street East Melbourne VIC 3002,Apartment / Unit / Flat,2023,"[-37.8100943, 144.9860492]",3002,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,2.0,1.0,1.0,148341.333333,5864.590098,431.706539
9,9,27/155 Powlett Street East Melbourne VIC 3002,Apartment / Unit / Flat,2023,"[-37.8113488, 144.9855803]",3002,[xcoord 144.983863\nycoord -37.814001\nN...,East Melbourne,2.0,1.0,1.0,148341.333333,5864.590098,431.706539