In [46]:
import pandas as pd
property_2022 = pd.read_csv('../data/raw/2022_property_final_final.csv')

In [47]:
#merge the population
all_population = pd.read_csv('../data/raw/population_final_predict.csv')

# 解决没有3000postcode的人口
all_population = all_population.drop(columns=['Unnamed: 0'])
melbourne_population = all_population[all_population['SA2 name'].str.contains('Melbourne CBD')].sum(axis=0)
melbourne_population['SA2 name'] = 'Melbourne'
all_population = all_population.append(melbourne_population,ignore_index=True)

all_population_2023 = all_population[['2023 Population','SA2 name']]
all_population_2024 = all_population[['2024 Population','SA2 name']]
all_population_2025 = all_population[['2025 Population','SA2 name']]

all_population_2023.head()

   2023 Population       SA2 name
0     17329.283789      Alfredton
1     12413.874342       Ballarat
2      7860.948494      Buninyong
3     11318.066431      Delacombe
4      4203.091835  Smythes Creek

In [48]:
#merge the income By SA2
all_income = pd.read_csv('../data/raw/Income_Prediction.csv')

# Manually filling the income of Melbourne 
# https://www.averagesalarysurvey.com/melbourne-australia
# 解决没有3000postcode的income
data = {'SA2 code': [206041122],
        'SA2 name': ['Melbourne'],
        '2010': [64792],
        '2011':[69316],
        '2012':[71532],
        '2013':[72800],
        '2014':[74827],
        '2015':[76189],
        '2017Pred':[87360],
        '2018Pred':[91230],
        '2019Pred':[99820],
        '2020Pred':[116530],
        '2021Pred':[120000],
        '2022Pred':[126197],
        '2023Pred':[129324],
        '2024Pred':[134234],
        '2025Pred':[135233],
        '2026Pred':[136249],
        '2027Pred':[140124]}  
# Create DataFrame  
df = pd.DataFrame(data)  
all_income = all_income.append(df)

all_income_2023 = all_income[['2023Pred','SA2 name']]
all_income_2024 = all_income[['2024Pred','SA2 name']]
all_income_2025 = all_income[['2025Pred','SA2 name']]
all_income_2024.head()

       2024Pred       SA2 name
0  71850.457143      Alfredton
1  96900.200000       Ballarat
2  72268.695238      Buninyong
3  64722.714286      Delacombe
4  66394.495238  Smythes Creek

In [49]:
property_2023 = property_2022.drop(columns=['years', 'Income','Population'])
property_2024 = property_2022.drop(columns=['years', 'Income','Population'])
property_2025 = property_2022.drop(columns=['years', 'Income','Population'])

In [50]:
property_2023['year'] = 2023
property_2024['year'] = 2024
property_2025['year'] = 2025

In [51]:
property_2023 = property_2023.merge(all_population_2023, left_on='closest_sa2', right_on='SA2 name', how='left')
property_2023 = property_2023.merge(all_income_2023, left_on='closest_sa2', right_on='SA2 name', how='left')
property_2024 = property_2024.merge(all_population_2024, left_on='closest_sa2', right_on='SA2 name', how='left')
property_2024 = property_2024.merge(all_income_2024, left_on='closest_sa2', right_on='SA2 name', how='left')
property_2025 = property_2025.merge(all_population_2025, left_on='closest_sa2', right_on='SA2 name', how='left')
property_2025 = property_2025.merge(all_income_2025, left_on='closest_sa2', right_on='SA2 name', how='left')

In [52]:
property_2023 = property_2023.drop(columns=['SA2 name_x', 'SA2 name_y'])
property_2024 = property_2024.drop(columns=['SA2 name_x', 'SA2 name_y'])
property_2025 = property_2025.drop(columns=['SA2 name_x', 'SA2 name_y'])

In [53]:
property_2023 = property_2023.rename(columns={'2023Pred': 'Income'})
property_2024 = property_2024.rename(columns={'2024Pred': 'Income'})
property_2025 = property_2025.rename(columns={'2025Pred': 'Income'})

In [60]:
property_2023 = property_2023.rename(columns={'2023 Population': 'Population'})
property_2024 = property_2024.rename(columns={'2024 Population': 'Population'})
property_2025 = property_2025.rename(columns={'2025 Population': 'Population'})

In [61]:
# output data in separate year
property_2023.to_csv("../data/raw/property_2023.csv")
property_2024.to_csv("../data/raw/property_2024.csv")
property_2025.to_csv("../data/raw/property_2025.csv")

In [62]:
# output a merge data
future_year = property_2023.append(property_2024)
future_year = future_year.append(property_2025)

In [64]:
future_year.to_csv("../data/raw/23To25_property.csv")