In [1]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Create an URL object
url = 'https://www.matthewproctor.com/full_australian_postcodes_vic'
# Create object page
page = requests.get(url)


# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')
soup



table1 = soup.find('table', attrs={'class':'table table-striped'})

In [2]:
import pandas as pd
import os
import sys

In [3]:
data = []
for element in table1:
    sub_data = []
    for sub_element in element:
        try:
            sub_data.append(sub_element.get_text())
        except:
            continue
    data.append(sub_data)

In [4]:
header = soup.find_all("table")[0].find("tr")
list_header = []
for items in header:
    try:
        list_header.append(items.get_text())
    except:
        continue

In [5]:
list_header

['ID',
 'Postcode',
 'Locality',
 'State',
 'Longitude',
 'Latitude',
 'Category',
 'Type',
 'SA3',
 'SA3 Name',
 'SA4',
 'SA4 Name',
 'Region',
 'Status',
 'Lat (Google)',
 'Long (Google)',
 'SA1 MAINCODE 2011',
 'SA1 MAINCODE 2016',
 'SA2 MAINCODE 2016',
 'SA2 NAME 2016',
 'RA 2011',
 'RA 2016',
 'MMM 2015',
 'MMM 2019',
 'CED',
 'Altitude',
 'Charge Zone',
 'PHN Code',
 'PHN Name',
 'LGA Region',
 'Electorate',
 'Electorate Rating']

In [6]:
dataFrame = pd.DataFrame(data = data, columns = list_header)
dataFrame=dataFrame.drop(0)

In [7]:
#dataFrame.to_csv('PostCode.csv')

In [11]:
post_code.columns

Index(['Unnamed: 0', 'ID', 'Postcode', 'Locality', 'State', 'Longitude',
       'Latitude', 'Category', 'Type', 'SA3', 'SA3 Name', 'SA4', 'SA4 Name',
       'Region', 'Status', 'Lat (Google)', 'Long (Google)',
       'SA1 MAINCODE 2011', 'SA1 MAINCODE 2016', 'SA2 MAINCODE 2016',
       'SA2 NAME 2016', 'RA 2011', 'RA 2016', 'MMM 2015', 'MMM 2019', 'CED',
       'Altitude', 'Charge Zone', 'PHN Code', 'PHN Name', 'LGA Region',
       'Electorate', 'Electorate Rating'],
      dtype='object')

In [10]:
post_code = pd.read_csv('../data/raw/PostCode.csv')
post_code[['SA2 MAINCODE 2016','SA2 NAME 2016']][0:5]

   SA2 MAINCODE 2016   SA2 NAME 2016
0        206041122.0       Melbourne
1        206041122.0       Melbourne
2        206041119.0  East Melbourne
3        206041127.0  West Melbourne
4        206041126.0       Southbank