In [199]:
# Visualization of rent growth rate
import pandas as pd
import matplotlib.pyplot as plt

In [200]:
train_history = pd.read_csv('../data/curated/2017_2022_house_data_final.csv')
pred_rent = pd.read_csv('../data/curated/2023_2025_house_data_final.csv')

In [222]:
train_history = train_history[train_history.week_rent != 'No Available']
pred_rent = pred_rent[pred_rent.week_rent != 'No Available']

In [228]:
train_history = train_history.astype({'week_rent': 'float'})
pred_rent = pred_rent.astype({'week_rent': 'float'})

In [229]:
train_history_17 = train_history[train_history.years==2017]
train_history_18 = train_history[train_history.years==2018]
train_history_19 = train_history[train_history.years==2019]
train_history_20 = train_history[train_history.years==2020]
train_history_21 = train_history[train_history.years==2021]
train_history_22 = train_history[train_history.years==2022]

In [230]:
pred_23 = pred_rent[pred_rent.year==2023]
pred_24 = pred_rent[pred_rent.year==2024]
pred_25 = pred_rent[pred_rent.year==2025]

In [231]:
rent_2017 = train_history_17.groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]
rent_2018 = train_history_18.groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]
rent_2019 = train_history_19.groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]
rent_2020 = train_history_20.groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]
rent_2021 = train_history_21.groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]
rent_2022 = train_history_22.groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]

In [232]:
rent_2023 = pred_23.drop(['Unnamed: 0'], axis=1).groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]
rent_2024 = pred_24.drop(['Unnamed: 0'], axis=1).groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]
rent_2025 = pred_25.drop(['Unnamed: 0'], axis=1).groupby('closest_sa2').mean('week_rent').reset_index()[['closest_sa2','week_rent']]

In [233]:
rent_2025 = rent_2025.rename(columns={'week_rent': 'rent_2025'})
rent_2024 = rent_2024.rename(columns={'week_rent': 'rent_2024'})
rent_2023 = rent_2023.rename(columns={'week_rent': 'rent_2023'})
rent_2022 = rent_2022.rename(columns={'week_rent': 'rent_2022'})
rent_2021 = rent_2021.rename(columns={'week_rent': 'rent_2021'})
rent_2020 = rent_2020.rename(columns={'week_rent': 'rent_2020'})
rent_2019 = rent_2019.rename(columns={'week_rent': 'rent_2019'})
rent_2018 = rent_2018.rename(columns={'week_rent': 'rent_2018'})
rent_2017 = rent_2017.rename(columns={'week_rent': 'rent_2017'})
rent_data = [rent_2017,rent_2018,rent_2019,rent_2020,rent_2021,rent_2022,rent_2023]

In [234]:
current_rent = rent_2025.merge(rent_2024,on='closest_sa2',how='left')
for each_year in rent_data:
    current_rent = current_rent.merge(each_year,on='closest_sa2',how='left')
current_rent

,closest_sa2,rent_2025,rent_2024,rent_2017,rent_2018,rent_2019,rent_2020,rent_2021,rent_2022,rent_2023
0,Abbotsford,564.703704,564.703704,360.333333,452.058824,510.384615,463.000000,474.473684,564.703704,564.703704
1,Airport West,428.541667,428.541667,390.000000,383.888889,394.545455,423.863636,389.583333,428.541667,428.541667
2,Albert Park,643.387097,643.387097,863.333333,487.500000,683.571429,671.875000,729.687500,643.387097,643.387097
3,Alexandra,350.000000,350.000000,NaN,NaN,NaN,NaN,NaN,350.000000,350.000000
4,Alfredton,411.642857,411.642857,NaN,NaN,NaN,NaN,NaN,411.642857,411.642857
...,...,...,...,...,...,...,...,...,...,...
331,Yarram,350.000000,350.000000,227.083333,242.000000,242.857143,266.041667,308.823529,350.000000,350.000000
332,Yarraville,538.958333,538.958333,494.000000,455.000000,556.250000,516.000000,566.250000,538.958333,538.958333
333,Yarrawonga,456.470588,456.470588,NaN,NaN,NaN,NaN,NaN,456.470588,456.470588
334,Yarriambiack,236.208333,236.208333,NaN,NaN,NaN,NaN,NaN,236.208333,236.208333
335,Yea,425.000000,425.000000,NaN,NaN,NaN,310.000000,NaN,425.000000,425.000000

In [235]:
current_rent = current_rent.dropna()

In [236]:
current_rent.iloc[1].index

Index(['closest_sa2', 'rent_2025', 'rent_2024', 'rent_2017', 'rent_2018',
       'rent_2019', 'rent_2020', 'rent_2021', 'rent_2022', 'rent_2023'],
      dtype='object')

In [237]:
import statistics
def get_average_growth(row):
    growth_rate_each_year = []
    last = 'rent_2017'
    curr = 'rent_2017'
    for col in row.index:
        if col == 'closest_sa2':
            continue
        if col == 'rent_2017':
            last = curr
            continue
        curr = col
        growth_rate_each_year.append(row[curr]/row[last])
        last = col
    return statistics.mean(growth_rate_each_year)

In [238]:
current_rent.apply(lambda row:get_average_growth(row),axis=1)

0      1.077353
1      1.014478
2      0.981976
5      1.050942
6      1.005577
         ...
324    1.025600
326    1.004316
330    0.989477
331    1.078233
332    1.016823
Length: 244, dtype: float64

In [239]:
current_rent['average_growth'] = current_rent.apply(lambda row:get_average_growth(row),axis=1)

/Users/tianhao/opt/anaconda3/envs/ADS_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [240]:
current_rent.to_csv('../data/curated/average_rent_year.csv')

In [249]:
top10 = current_rent.sort_values(by = 'average_growth',ascending=False).head(12)

In [250]:
top10

,closest_sa2,rent_2025,rent_2024,rent_2017,rent_2018,rent_2019,rent_2020,rent_2021,rent_2022,rent_2023,average_growth
61,Caroline Springs,179791.134604,179791.134604,384.000000,382.500000,377.000000,397.000000,444.285714,179791.134604,179791.134604,109.755071
288,Taylors Lakes,516.428571,516.428571,430.294118,441.111111,1921.000000,2081.666667,509.166667,516.428571,516.428571,1.343967
129,Golden Plains - South,800.000000,800.000000,331.428571,362.777778,391.739130,422.291667,498.000000,800.000000,800.000000,1.226349
120,Gannawarra,513.500000,513.500000,230.555556,242.142857,212.000000,243.333333,248.333333,513.500000,513.500000,1.226304
66,Caulfield - South,1241.603774,1241.603774,639.875000,579.153846,606.166667,574.615385,533.000000,1241.603774,1241.603774,1.207309
149,Irymple,617.000000,617.000000,302.692308,258.636364,295.000000,339.600000,342.187500,617.000000,617.000000,1.195008
57,Camperdown,450.000000,450.000000,202.500000,217.500000,241.000000,250.625000,314.444444,450.000000,450.000000,1.192409
136,Hamilton (Vic.),390.000000,390.000000,198.125000,216.000000,290.000000,308.571429,291.000000,390.000000,390.000000,1.151524
243,Portarlington,983.977273,983.977273,955.714286,340.000000,467.777778,404.000000,405.227273,983.977273,983.977273,1.130729
238,Plenty - Yarrambat,800.000000,800.000000,478.571429,565.000000,521.000000,603.000000,533.181818,800.000000,800.000000,1.105256
275,St Arnaud,327.500000,327.500000,200.000000,190.833333,211.363636,220.500000,262.647059,327.500000,327.500000,1.101134
81,Cranbourne South,684.166667,684.166667,417.692308,461.590909,430.000000,494.375000,498.958333,684.166667,684.166667,1.096797

In [251]:
# excluding the taylors lakes and caulfied south, becasue the average rent seems unnormal
top10 = top10[~top10.closest_sa2.isin(['Taylors Lakes','Caulfield - South','Caroline Springs'])]

In [252]:
top10 = top10[['closest_sa2','rent_2017','rent_2018','rent_2019','rent_2020','rent_2021'
               ,'rent_2022','rent_2023','rent_2024','rent_2025']]

In [253]:
top10 = top10.set_index('closest_sa2')

In [254]:
top10 = top10.T

In [255]:
top10

closest_sa2,Golden Plains - South,Gannawarra,Irymple,Camperdown,Hamilton (Vic.),Portarlington,Plenty - Yarrambat,St Arnaud,Cranbourne South
rent_2017,331.428571,230.555556,302.692308,202.500000,198.125000,955.714286,478.571429,200.000000,417.692308
rent_2018,362.777778,242.142857,258.636364,217.500000,216.000000,340.000000,565.000000,190.833333,461.590909
rent_2019,391.739130,212.000000,295.000000,241.000000,290.000000,467.777778,521.000000,211.363636,430.000000
rent_2020,422.291667,243.333333,339.600000,250.625000,308.571429,404.000000,603.000000,220.500000,494.375000
rent_2021,498.000000,248.333333,342.187500,314.444444,291.000000,405.227273,533.181818,262.647059,498.958333
rent_2022,800.000000,513.500000,617.000000,450.000000,390.000000,983.977273,800.000000,327.500000,684.166667
rent_2023,800.000000,513.500000,617.000000,450.000000,390.000000,983.977273,800.000000,327.500000,684.166667
rent_2024,800.000000,513.500000,617.000000,450.000000,390.000000,983.977273,800.000000,327.500000,684.166667
rent_2025,800.000000,513.500000,617.000000,450.000000,390.000000,983.977273,800.000000,327.500000,684.166667

In [256]:
top10['year'] = [2017,2018,2019,2020,2021,2022,2023,2024,2025]

In [257]:
top10.to_csv('../data/curated/top_10.csv')

In [258]:
last10 = current_rent.sort_values(by = 'average_growth',ascending=True).head(11)

In [259]:
last10 = last10[['closest_sa2','rent_2017','rent_2018','rent_2019','rent_2020','rent_2021'
               ,'rent_2022','rent_2023','rent_2024','rent_2025']]

In [260]:
last10 = last10.set_index('closest_sa2')

In [261]:
last10 = last10.T

In [262]:
last10['year'] = [2017,2018,2019,2020,2021,2022,2023,2024,2025]

In [263]:
last10.to_csv('../data/curated/last_10.csv')